/*
!/.github/
!/ui/
!/*.cs
!/*.csproj
!/*.sln
!/*.json
!/*.md
!/*.png
!/.gitignore
!/build.ps1
!/Directory.Build.props
**/[Bb]in/
**/[Oo]bj/
/.vs/
*.user
*.suo
*.rsuser
/publish/
/package/
/release/
/.artifacts/
